/*============================================
Author: Shalena Harris
==============================================
One Page Website Styles
=============================================*/

html {
    font-family: Georgia;
    font-size:medium;
    -webkit-tap-highlight-color: rgba(0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    font-family: Georgia;
    margin: 0;
    line-height: normal;
    color:darkgreen;
    background-color: white;
}

footer,
nav {
    display: block;
}

.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    /*background-color: #052136;*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s; 
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #f00;
    background-color: rgba(100, 65, 0, 0.3);
}


h1 h2 h3 h4 {
    font-family: "open sans", sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30 px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1::after { /*This is the underline*/
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #E91C1C;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0,0,0,0.5)
}

h2 {
    line-height: 50px;
    color:black;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
    color:rgb(70, 3, 29);
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 60px;
}

section {
    padding-top: 59px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
}

.clearflx:after,
.contauber:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

.row {
    margin-right: -15px;
    margin-left: -14px;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: fixed;
    z-index: 100%
}

/*--HOME SECTION OF CSS--*/

#Home {
    background: url(../Thumbs/Betterbarn.png) no-repeat 50% 50%;    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover; 
    width: 100%;
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 500px;
    color:white;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    font-variant:small-caps;
    color: black;
    letter-spacing: 5pt;
    word-spacing: 20pt;
    font-size: 2em;
    text-align: left;
    font-family: Georgia;
    line-height: 2;
    font-weight: 800;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted white;
    padding: 5px;
}

/*Gallery Animations*/
p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021A40;
    background-color: rgb(6, 13, 66);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /*For centering text inside .photo */;
    align-items: center;
    background: rgba(0,0,0, .5);
}

.white-head {
    color:#C9BDAA;
    margin-top: 5%;
    line-height: 30px;
    padding-bottom: 20px;
}

/*-------------
PHOTO OVERLAY TRANSITION
-------------*/

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay p {
    width: 100%;
    height: 100%;
    color: #fff;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

/*--Reservation Style*/

.flex-container {
    display: -webkit-flex;
    display: flex; 
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#Reservation {
    background-color: #f5f3f3;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0,.3);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: darkgreen;
    width: 50%;
    margin: 0 auto;
    text-align: center;
 }

 .reservation form {
     font-size: 15px;
     outline: none;
     font-weight: 600;
     color: olive;
     padding: 12px 12px;
     width: 70%;
     border: 1px solid #808080;
     margin: 2% auto;
     border-radius: 7px;
     background: ivory;
     box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
     font-family: 'raleway', sans-serif;
 }

 .reservation input[type="text"] {
     font-size: 15px;
     outline: none;
     font-weight: 600;
     color: salmon;
     padding: 2% 1% 1% 7%;
     width: 80%;
     border-top: 1px solid #09080d;
     border-right: 2px solid #424549;
     border-bottom: 2px solid #424549;
     border-left: 1px solid #090b0d;
     margin: 10px 1em; 
     border-radius: 7px;
     background: #13161b;
     box-shadow: inset 0px 3px 0px 0px salmon;
     font-family: 'raleway', sans-serif;
 }

 .reservation input[type="text"]:hover {
     box-shadow: 0 0 18px #E91C1C;
 }

 .form-spacer {
     padding: 30px 39px;
 }

 .terms {
     margin: 30px 1px 0 0;
     padding-left: 52px;
     font-size: 14px;
     line-height: 4px;
     color: #000;
     cursor: pointer;
     font-family: 'raleway', sans-serif;
     font-weight: 600;
     margin-top: 10%;
     position: relative;
     display: inline;
     float: right;
 }

 .terms:hover {
     color: rgb(70, 3, 29);
     text-decoration: underline;
 }

 .submit input[type="submit"] {
     color: rgba(225,225,225);
     cursor: pointer;
     border: none;
     font-weight: 900;
     outline: none;
     text-align: center;
     font-family: georgia;
     margin: 0px 3%;
     padding: 7px 0px;
     width: 25%;
     font-size: 18px;
     transition: border-color 0.3s color 0.3s background-color 0.3s;
     border-radius: 7px;
     background-color: #797a7b;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
 }

 .submit input[type="submit"]:hover {
     color:#000;
     background-color: #8d6e8f;
     box-shadow:  inset 1px 2px 15px 0 rgba(0,0,0,0.5);
 }

 /*Footer section */

 #Footer {
    background-color: rgba(100,65, 0, 0.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 (0, 0, 0, 0.4);
    padding: 20px 50px 20px 50px;
    text-align: center;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }